# Database
DATABASE_URL="file:./dev.db"
# For production PostgreSQL:
# DATABASE_URL="postgresql://user:pass@localhost:5432/tezketkaz"

# Server
PORT=3000
NODE_ENV=development

# Auth
JWT_SECRET=change-me-to-a-long-random-string-in-production
JWT_EXPIRES_IN=30d

# SMS Gateway (Eskiz.uz)
# Get credentials at https://my.eskiz.uz
ESKIZ_EMAIL=
ESKIZ_PASSWORD=
ESKIZ_FROM=4546
USE_MOCK_SMS=true

# Payment Providers
CLICK_MERCHANT_ID=
CLICK_SECRET_KEY=
PAYME_MERCHANT_ID=
PAYME_KEY=
UZUM_MERCHANT_ID=
USE_MOCK_PAYMENTS=true

# Maps
DGIS_API_KEY=

# Tax Committee API (для проверки СТИР курьера)
TAX_API_BASE=https://api.soliq.uz
TAX_API_KEY=
USE_MOCK_TAX=true
